# Ignorar configuración de IntelliJ
.idea/
*.iml

# Ignorar compilados
out/
production/

# Ignorar todo en POO/Ejercicios menos el código fuente
POO/Ejercicios/*
!POO/Ejercicios/src/**

# Ignorar PDFs
PDFs/
*.pdf
